<!DOCTYPE html>
<html>
<head>
	<title>Chronic kidney disease</title>
</head>
<body>
	<center>
	<h1>Chronic Kidney Disease</h1>
	<link rel="stylesheet" type="text/css" href="ckdcss.css">
	<form  method = "post" id="patientReport">
	<div class="table1">
	<table>
		<tr>
			<th>Report</th>
			<th>Quantity</th>
		</tr>
		<tr>
			<td>White blood cell count</td>
			<td>
			<select name="wbcc">
				<option value="low">low</option>
				<option value="medium">medium</option>
				<option value="high">high</option>
			</select>
		</td>
		</tr>
		<tr>
			<td>Blood glucose</td>
			<td>
			<select name="bgr">
				<option value="low">low</option>
				<option value="medium">medium</option>
				<option value="high">high</option>
			</select>
		</td>
		</tr>
		<tr>
			<td>Blood urea</td>
			<td>
			<select name="bu">
				<option value="low">low</option>
				<option value="medium">medium</option>
				<option value="high">high</option>
			</select>
		</td>
		</tr>
		<tr>
			<td>Seram creatinine</td>
			<td>
			<select name="sc">
				<option value="low">low</option>
				<option value="medium">medium</option>
				<option value="high">high</option>
			</select>
		</td>
		</tr>
		<tr>
			<td>Packed cell volume</td>
			<td>
			<select name="pcv">
				<option value="low">low</option>
				<option value="medium">medium</option>
				<option value="high">high</option>
			</select>
		</td>
		</tr>
		<tr>
			<td>Albumin</td>
			<td>
			<select name="al">
				<option value="low">low</option>
				<option value="medium">medium</option>
				<option value="high">high</option>
			</select>
		</td>
		</tr>
		<tr>
			<td>Hemoglobin</td>
			<td>
			<select name="hem">
				<option value="low">low</option>
				<option value="medium">medium</option>
				<option value="high">high</option>
			</select>
		</td>
		</tr>
		<tr>
			<td>Age</td>
			<td>
			<select name="age">
				<option value="low">low</option>
				<option value="medium">medium</option>
				<option value="high">high</option>
			</select>
		</td>
		</tr>
		<tr>
			<td>Sugar</td>
			<td>
			<select name="sugar">
				<option value="low">low</option>
				<option value="medium">medium</option>
				<option value="high">high</option>
			</select>
		</td>
		</tr>
		<tr>
			<td>Hypertension</td>
			<td>
			<select name="hy">
				<option value="low">low</option>
				<option value="medium">medium</option>
				<option value="high">high</option>
			</select>
		</td>
		</tr>
	</table>
	<input type="submit" name="submit">
</div>
</form>
	</center>
</body>
</html>
